header > *{
    padding: 0 5%;
}




/* top section */
.h-top {
    display: flex;
    flex-direction: column;
}


.cl-logo {
    margin-left: 1rem;
    width: 10rem;
    display: flex;
}

.blue-side, .red-side {
    height: 0.5rem;
}

.blue-side {
    width: 40%;
    background-color: #0f69b4;
}

.red-side {
    width: 60%;
    background-color: #eb3c46;
}


.sag-title {
    margin: 0.2rem 0;
    font-size: 1rem;
}

.sag-title-fullname {
    font-size: 0.8rem;
}




/* nav */
nav {
    display: flex;
    background: var(--main-color);
}

.nav-item {
    all: unset;
    cursor: pointer;

    display: flex;
    padding: 0.25rem 0;
    margin-left: 1.5em;
    align-items: center;
    color: var(--font-white);
    font-size: 1rem;
}

.nav-item:first-child {
    margin-left: 0;
    margin-right: auto;
}