.info-post {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.item-post {
    height: 32px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.key-post {
    margin: 0;
    width: 50%;
    overflow-x: auto;
    white-space: nowrap;
    text-align: right;
    font-weight: 700;
}

.value-post {
    height: 100%;
    display: flex;
    align-items: center;
    min-width: 50%;
    max-width: 50%;
}

.value-post > p, .value-post > label  {
    height: 100%;
    display: flex;
    align-items: center;
    overflow-x: auto;
    white-space: nowrap;
    margin: 0;
}

.value-post > input {
    max-width: 100%;
}

.value-post > label > input[type="file" i] {
    display: none;
}

.item-post-to-down {
    all: unset;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
}

.item-post-to-down > p {
    all: unset;
    font-weight: 700;
    width: 100%;
    text-align: center;
    overflow: unset;
}

.value-post-to-down {
    all: unset;
    width: 100%;
}

.value-post-to-down > p {
    all: unset;
    width: 100%;
}

.value-post-to-down > textarea {
    width: 100%;
    min-height: 2rem;
}

.buttons-edit, .buttons-options {
    display: flex;
    width: 100%;
    gap: 0.5rem;
}
.buttons-options {
    margin: 0.5rem 0;
    display: flex;
    justify-content: center;
    max-width: 100%;
}

.option-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3rem unset;
    width: 50%;
}

/* CAMPAIGN */

.remove-user {
    width: 24px;
    height: 24px;
    transform: rotate(45deg);
    background-image: url('/images/quit.svg');
}

.modal-message {
    text-align: center;
}

/* CAMPAIGN USERS */

.add-users-modal {
    position: fixed;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.modal-items-add-users {
    height: 100%;
    position: relative;
    box-sizing: border-box;
    display: flex; /* Agrega esta línea para que el elemento padre sea un contenedor flexible */
    flex-direction: column;
    justify-content: center; /* Centra horizontalmente el elemento hijo */
    align-items: center; /* Centra verticalmente el elemento hijo */
}

.addUsersTitle {
    height: fit-content;
    box-sizing: border-box;
}

.add-users-form {
    height: 100%;
    max-height: 100%; /* Asegura que el formulario no exceda el ancho del contenedor padre */
    padding: 0.5rem; /* Ajusta el padding según tus necesidades */
    box-sizing: border-box;
}

.add-user-checkbox {
    border-radius: 50%;
}

.add-users-cards {
    height: 60vh;
    overflow: hidden;
    overflow-y: scroll;
    width: 100%;
    margin: unset;
    padding: 0.2rem;
}

.bottom-crud-add-users {
    width: 100%;
    height: fit-content;
    margin-top: auto;
}
