<main>
    <section class="breadcrumbs">
        <a href="/admin/">Inicio</a>
        <p>Administracion de Usuarios</p>
    </section>
        <h1 class="custom-section-title">Administracion de Usuarios</h1>
    <section class="not-logged-card">
        <h3 class="custom-section-title">Registrar Usuario</h3>
        <form id="registerPost">
            <input class="full" required type="email" id="email" placeholder="Correo electrónico">
            <input class="full" required type="text" id="name" placeholder="Nombre completo">
            <input oninput="validateRut()" name="rut" class="full" required type="text" id="rut" placeholder="RUT">
            <select  class="half" id="role">
                <option disabled value="" selected>Rol</option>
                <% Object.keys(roles).forEach(function(key) { %>
                    <option value="<%= roles[key] %>"><%= roles[key] %></option>
                <% }); %>
            </select>
            <div class="bottom-crud">
                <div class="check-container">
                    <label for="hasLicense">Licencia</label>
                    <input id="license" type="checkbox">
                </div>
                <button type="submit" class="button-green-crud">Registrar</button>
            </div>
        </form>
    </section>
    <section class="not-logged-card">
        <h3 class="custom-section-title">Buscar Usuario</h3>
        <form id="searchPost">
            <input class="full" type="email" id="emailSearch" placeholder="Correo electrónico">
            <input class="full" type="text" id="nameSearch" placeholder="Nombre completo">
            <input class="full" type="text" id="runSearch" placeholder="RUT">
            <select  class="half" id="roleSearch">
                <option disabled value="" selected>Rol</option>
                <% Object.keys(roles).forEach(function(key) { %>
                    <option value="<%= roles[key] %>"><%= roles[key] %></option>
                <% }); %>
            </select>
            <div class="bottom-crud">
                <div class="check-container">
                    <label for="hasLicense">No tiene licencia</label>
                    <input id="licenseSearch" type="checkbox">
                </div>
                <button type="submit" class="button-green-crud">Buscar</button>
            </div>
        </form>
    </section>
    <h3 class="card-title">Usuarios</h3>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <table>
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Rol</th>
                            <th>Nombre</th>
                            <th>RUT</th>
                            <th>Email</th>
                            <th>Tiene licencia</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% formattedUsers.forEach(function(user) { %>
                            <tr>
                            <td><%= user.id %></td>
                            <td><%= user.role %></td>
                            <td><a  href="/adminUsers/<%= user.id %>"><%= user.name %></a></td>
                            <td><%= user.run %>-<%= user.dvRun %></td>
                            <td><%= user.email %></td>
                            <td><%= user.hasLicense ? 'Sí' : 'No' %></td>
                            </tr>
                        <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div> <!-- end col -->
    </div> <!-- end row -->

    <div id="message" class="alert" role="alert"></div>
    <script src="/js/adminUsers.js" type="module"></script>
</main>