<main>
    <section class="breadcrumbs">
        <a href="/home">Inicio</a>
        <p>Administración de Usuarios</p>
    </section>
        <h1 class="custom-section-title">Administración de Usuarios</h1>
    <section class="not-logged-card">
        <h3 class="custom-section-title">Registrar Usuario</h3>
        <form id="registerPost">
            <input class="full" required type="email" id="email" placeholder="Correo electrónico">
            <input class="full" required type="text" id="name" placeholder="Nombre completo">
            <input name="rut" class="full" required type="text" id="rut" placeholder="RUT">
            <p class="rut-info">Formato: XXXXXXXX-X</p>
            <select required class="half" id="role">
                <option disabled value="" selected>Rol</option>
                <% Object.keys(roles).forEach(function(key) { %>
                    <option value="<%= roles[key] %>"><%= roles[key] %></option>
                <% }); %>
            </select>
            <div class="bottom-crud">
                <div class="check-container">
                    <label for="hasLicense">Licencia</label>
                    <input id="license" type="checkbox">
                </div>
                <button type="submit" class="button-green-crud">Registrar</button>
            </div>
        </form>
    </section>
    <section class="not-logged-card">
        <h3 class="custom-section-title">Buscar Usuario</h3>
        <form id="searchPost">
            <input class="full" type="email" id="emailSearch" placeholder="Correo electrónico">
            <input class="full" type="text" id="nameSearch" placeholder="Nombre completo">
            <input class="full" type="text" id="runSearch" placeholder="RUT">
            <select  class="half" id="roleSearch">
                <option disabled value="" selected>Rol</option>
                <% Object.keys(roles).forEach(function(key) { %>
                    <option value="<%= roles[key] %>"><%= roles[key] %></option>
                <% }); %>
            </select>
            <div class="bottom-crud">
                <div class="check-container">
                    <label for="hasLicense">No tiene licencia</label>
                    <input id="licenseSearch" type="checkbox">
                </div>
                <button type="submit" class="button-green-crud">Buscar</button>
            </div>
        </form>
    </section>
    <h3 class="card-title">Usuarios</h3>
    <section class="cards">
        <% if (Array.isArray(formattedUsers) && formattedUsers.length > 0) { %>
            <% for (let i = 0; i < formattedUsers.length; i++) { %>
                <a href="/admin-users/<%= formattedUsers[i].id %>">
                    <div class="card-left-side">
                        <p class="card-left-side-top"><%= formattedUsers[i].role %> | <span class="card-left-side-top-highlight"><%= formattedUsers[i].name %></span></p>
                        <p class="card-left-side-top"><%= formattedUsers[i].run %>-<%= formattedUsers[i].dvRun %></p>
                        <p class="card-left-side-bottom"><%= formattedUsers[i].email %></p>
                        <p class="card-left-side-bottom">Tiene licencia: <%= formattedUsers[i].hasLicense ? 'Sí' : 'No' %></p>
                        
                    </div>
                    <div class="card-right-side">
                        <% if (formattedUsers[i].deletedAt) { %>
                            <p>Inactiva </p>
                            <div style="margin-left: 0.5rem;" class="red-ball"></div>
                        <% } else { %>
                            <p>Activa </p>
                            <div style="margin-left: 0.5rem;" class="green-ball"></div>
                        <% } %>                        
                    </div>
                </a>
            <% } %>
        <% } else { %>
            <p>No hay usuarios registrados o que coincidan con tu búsqueda</p>
        <% } %>
    </section>

    <div id="message" class="alert" role="alert"></div>
    <script src="/js/adminUsers.js" type="module"></script>
</main>