<main>
    <section class="breadcrumbs">
        <a href="/home">Inicio</a>
        <p>Listar equipos</p>
    </section>
    <hr>
    <h1>Ver equipos</h1>
    <section class="cards">
        <% if (formattedTeams.length > 0) { %>
            <% for (let i = 0; i < formattedTeams.length; i++) { %>
                <a href="/teams/<%= formattedTeams[i].team %>">
                    <div class="card-left-side">
                        <p class="card-left-side-top">Equipo <%= formattedTeams[i].team %></p>
                        <p class="card-left-side-bottom"><strong>Encargados:</strong></p>
                        <% for (let j = 0; j < formattedTeams[i].users.length; j++) { %>
                            <p user-id="<%= formattedTeams[i].users[j].id %>" class="card-left-side-bottom">
                                - <%= formattedTeams[i].users[j].name %>
                                <% if (formattedTeams[i].users[j].hasLicense) { %>
                                con licencia
                                <% } %>
                            </p>
                        <% } %>
                        <p class="card-left-side-bottom"><strong>Vehículo:</strong> <%= formattedTeams[i].car.patent %></p>
                        <p class="card-left-side-bottom">Capacidad para <%= formattedTeams[i].car.capacity %> personas</p>
                        <p class="card-left-side-bottom"><strong>N° Manzanas:</strong> <%= formattedTeams[i].tasks %></p>
                    </div>
                </a>
            <% } %>
        <% } else { %>
            <p>No hay equipos creados para hoy</p>
        <% } %>
    </section>
    <button type="button" class="add-button" data-toggle="modal" data-target="#addModal"
        aria-label="addButton"></button>
</main>
<div class="modal-backdrop" style="display: none;" id="modalBackdrop"></div>
<div class="add-modal" style="display: none;" id="addModal" role="form" aria-labelledby="addModalLabel">
    <div class="modal-items">
        <div class="close-modal" data-dismiss="modal"></div>
        <h1>Asignar trabajo</h1>
        <form id="addPost">
            <select required class="half" id="carAdd" name="carAdd">
                <option value="">Vehículo</option>
            </select>
            <select required class="half" id="driverAdd" name="driverAdd" disabled>
                <option value="">Conductor</option>
            </select>
            <div id="passengerContainer" class="full passengers"></div>            
            <div id="tasksContainer" class="full" style="display: none; gap: 0.5rem;">
                <div class="full task" style="display: flex; gap: 0.5rem;">
                    <select required class="half focusAdd" name="focusAdd">
                        <option value="">Foco</option>
                    </select>
                    <select required class="half blockAdd" name="blockAdd" disabled>
                        <option value="">Manzana</option>
                    </select>
                </div>
                <div class="task-options">
                    <div id="remove-task" style="display: none;"></div>
                    <div id="add-task"></div>
                </div>
            </div>
            <hr>
            <div class="bottom-crud">
                <button id="closeModal" type="button" class="button-40">Cancelar</button>
                <button type="submit" class="button-green-default button-60">Crear equipo</button>
            </div>
        </form>
    </div>
</div>
<div id="message" class="alert" role="alert"></div>
<script src="/js/teams.js" type="module"></script>
