<main>
    <section class="breadcrumbs">
        <a href="/home">Inicio</a>
        <a href="/campaigns/">Listar campañas</a>
        <a href="/campaigns/<%= breadcrumbs.CampaignId %>">Ver campaña</a>
        <a href="/campaigns/<%= breadcrumbs.CampaignId %>/focuses">Listar focos</a>
        <a href="/campaigns/<%= breadcrumbs.CampaignId %>/focuses/<%= breadcrumbs.FocusId %>">Ver foco</a>
        <a href="/campaigns/<%= breadcrumbs.CampaignId %>/focuses/<%= breadcrumbs.FocusId %>/blocks">Listar manzanas</a>
        <a href="/campaigns/<%= breadcrumbs.CampaignId %>/focuses/<%= breadcrumbs.FocusId %>/blocks/<%= breadcrumbs.BlockRegistrationId %>">Ver manzana</a>
        <a href="/campaigns/<%= breadcrumbs.CampaignId %>/focuses/<%= breadcrumbs.FocusId %>/blocks/<%= breadcrumbs.BlockRegistrationId %>/houses">Listar casas</a>
        <a href="/campaigns/<%= breadcrumbs.CampaignId %>/focuses/<%= breadcrumbs.FocusId %>/blocks/<%= breadcrumbs.BlockRegistrationId %>/houses/<%= breadcrumbs.HouseRegistrationId %>">Ver casa</a>
        <p>Listar árboles</p>
    </section>
    <hr>
    <h1>Buscar árbol</h1>
    <form id="searchPost">
        <select class="half" id="speciesSearch">
            <option value="" disabled selected>Especie</option>
            <% for (let i = 0; i < formattedTreeSpecies.length; i++) { %>
                <option value="<%= formattedTreeSpecies[i].id %>"><%= formattedTreeSpecies[i].species.charAt(0).toUpperCase() + formattedTreeSpecies[i].species.slice(1).toLowerCase() %></option>
            <% } %>
        </select>
        <select class="half" id="treeStateSearch">
            <option value="" disabled selected>Estado</option>
            <% Object.values(treeStates).forEach(treeState => { %>
                <option value="<%= treeState %>"><%= treeState.charAt(0).toUpperCase() + treeState.slice(1).toLowerCase() %></option>
            <% }); %>
        </select>
        <div class="bottom-crud">
            <div class="check-container">
                <label for="hasFruitSearch">Mostrar con fruta</label>
                <input id="hasFruitSearch" type="checkbox">
            </div>
            <button type="submit" class="button-green-crud">Buscar</button>
        </div>
    </form>
    <hr>
    <section class="cards">
        <% if (formatedTreeSpeciesRegistration.length > 0) { %>
            <% for (let i = 0; i < formatedTreeSpeciesRegistration.length; i++) { %>
                <a href="trees/<%=formatedTreeSpeciesRegistration[i].treeRegistrationId %>">
                    <div class="card-left-side">
                        <p class="card-left-side-top"><%= formatedTreeSpeciesRegistration[i].species.charAt(0).toUpperCase() + formatedTreeSpeciesRegistration[i].species.slice(1).toLowerCase() %></p>
                        <p class="card-left-side-bottom"><%= formatedTreeSpeciesRegistration[i].tree_state %></p>
                    </div>
                </a>
            <% } %>
        <% } else { %>
            <p>No hay árboles registrados o que coincidan con tu búsqueda</p>
        <% } %>
    </section>
    <button type="button" class="add-button" data-toggle="modal" data-target="#addModal"
        aria-label="addButton"></button>
</main>
<div class="modal-backdrop" style="display: none;" id="modalBackdrop"></div>
<div class="add-modal" style="display: none;" id="addModal" role="form" aria-labelledby="addModalLabel">
    <div class="modal-items">
        <div class="close-modal" data-dismiss="modal"></div>
        <h1>Añadir casa</h1>
        <form id="addPost">
            <select class="half" id="speciesAdd">
                <option value="" disabled selected>Especie</option>
                <% for (let i = 0; i < formattedTreeSpecies.length; i++) { %>
                    <option value="<%= formattedTreeSpecies[i].id %>"><%= formattedTreeSpecies[i].species %></option>
                <% } %>
            </select>
            </select>
            <select class="half" id="treeStateAdd">
                <option value="" disabled selected>Estado</option>
              <% Object.entries(treeStates).forEach(([key, value]) => { %>
                <option value="<%= value %>"><%= value %></option>
              <% }); %>
            </select>
            <div class="input-number">
                <label for="numberTreesAdd">Cantidad de árboles</label>
                <input type="number" id="numberTreesAdd" min="1">
            </div>
            <hr>
            <div class="bottom-crud">
                <button type="reset" class="button-40">Cancelar</button>
                <button type="submit" class="button-green-default button-60">Añadir casa</button>
            </div>
        </form>
    </div>
</div>
<div id="message" class="alert" role="alert"></div>

<script src="/js/treeRegistrations.js" type="module"></script>
