<section class="cards">
    <p class="custom-section-title">Iniciar Sesión</p>
    <form id="loginPost" action="/signin" method="POST">
        <div class="col"><input required class="login-input" name="email" type="email" placeholder="Correo"></div>
        <div class="col"><input required class="login-input" name="password" type="password" placeholder="Contraseña"></div>
        <br>
        <button type="submit" class="btn-login">Iniciar</button>
    </form>
    <form action="/register">
        <span style="margin-right: 2rem;" > ¿No tienes cuenta? </span>
        <button type="submit" class="custom-btn"><strong>Registrarse</strong></button>
    </form>
    <a href="">Olvidé mi contraseña</a>
</section>
<script src="/js/login.js" type="module"></script>