<section class="not-logged-card">
    <h1 class="custom-section-title">Registrarse</h1>
    <form id="registerPost">
        <input class="full" required type="email" id="email" placeholder="Correo electrónico">
        <input class="full" required type="text" id="name" placeholder="Nombre completo">
        <input class="full" required type="text" id="run" placeholder="RUT">
        <input class="full" required type="password" id="password" placeholder="Contraseña">
        <input class="full" required type="password" placeholder="Confirmar contraseña">
        <button type="submit" class="button-green-default">Registrarse</button>
    </form>
    <p>¿Ya tienes una cuenta? <a href="/">Iniciar sesión</a></p>
</section>
<div id="message" class="alert" role="alert"></div>
<script src="/js/register.js" type="module"></script>