<section class="cards">
    <div class="check-container">
        <h2 class="custom-section-title intro-title"></h2>

    </div>
</section>
<section class="cards">
    <p class="custom-section-title">Registrarse</p>
    <br>
    <form onsubmit="verificarPasswords(); return false" action="/register" method="POST">
        <input type="email" name="correo" placeholder="Correo Electrónico">
        <input type="text" name="nombre" placeholder="Nombre Completo">
        <input type="text" name="rut" placeholder="RUT">
        <input required id="password1" type="password" name="contra" placeholder="Contraseña">
        <input required id="password2" type="password" placeholder="Confirmar contraseña">
        <button style="font-size: x-large;" type="submit" class="custom-btn">Registrarse</button>
    </form>
</section>
<script src="/js/register.js" type="module"></script>