<main>
    <section class="breadcrumbs">
        <a href="/home">Inicio</a>
        <% if (permissionLevel >= 3) { %>
            <a href="/campaigns/">Listar campañas</a>
        <% } else if (permissionLevel >= 2) { %>
            <a href="/campaigns/<%= breadcrumbs.CampaignId %>">Ver campaña</a>
            <a href="/campaigns/<%= breadcrumbs.CampaignId %>/focuses">Listar focos</a>
            <a href="/campaigns/<%= breadcrumbs.CampaignId %>/focuses/<%= breadcrumbs.FocusId %>">Ver foco</a>
            <a href="/campaigns/<%= breadcrumbs.CampaignId %>/focuses/<%= breadcrumbs.FocusId %>/blocks">Listar manzanas</a>
        <% } %>
        <a href="/campaigns/<%= breadcrumbs.CampaignId %>/focuses/<%= breadcrumbs.FocusId %>/blocks/<%= breadcrumbs.BlockRegistrationId %>">Ver manzana</a>
        <a href="/campaigns/<%= breadcrumbs.CampaignId %>/focuses/<%= breadcrumbs.FocusId %>/blocks/<%= breadcrumbs.BlockRegistrationId %>/houses">Listar casas</a>
        <a href="/campaigns/<%= breadcrumbs.CampaignId %>/focuses/<%= breadcrumbs.FocusId %>/blocks/<%= breadcrumbs.BlockRegistrationId %>/houses/<%= breadcrumbs.HouseRegistrationId %>">Ver casa</a>
        <a href="/campaigns/<%= breadcrumbs.CampaignId %>/focuses/<%= breadcrumbs.FocusId %>/blocks/<%= breadcrumbs.BlockRegistrationId %>/houses/<%= breadcrumbs.HouseRegistrationId %>/trees">Listar árboles</a>
        <p>Ver árbol</p>
    </section>
    <hr>
    
    <h1>Información del árbol</h1>
    <form id="editPost" class="info-post" enctype="multipart/form-data">
        <div class="item-post">
            <p class="key-post">Especies</p>
            <div class="value-post">
                <p><%= formattedTreeRegistration.species.charAt(0).toUpperCase() + formattedTreeRegistration.species.slice(1).toLowerCase() %></p>
                <select class="" id="especies" style="display: none;">
                    <option value="" disabled selected><%= formattedTreeRegistration.species.charAt(0).toUpperCase() + formattedTreeRegistration.species.slice(1).toLowerCase() %></option>
                    <% Object.values(formattedTreeSpecies).forEach(formattedTreeSpecies => { %>
                        <option value="<%= formattedTreeSpecies.species %>"><%= formattedTreeSpecies.species.charAt(0).toUpperCase() + formattedTreeSpecies.species.slice(1).toLowerCase()  %></option>
                    <% }); %>
                </select>
            </div>
        </div>
        <div class="item-post">
            <p class="key-post">Estado</p>
            <div class="value-post">
                <p><%= formattedTreeRegistration.tree_state.charAt(0).toUpperCase() + formattedTreeRegistration.tree_state.slice(1).toLowerCase() %></p>
                <select class="" id="treeState" style="display: none;">
                    <option value="" disabled selected><%= formattedTreeRegistration.tree_state.charAt(0).toUpperCase() + formattedTreeRegistration.tree_state.slice(1).toLowerCase() %></option>
                    <% Object.values(treeStates).forEach(treeStates => { %>
                        <option value="<%= treeStates %>"><%= treeStates.charAt(0).toUpperCase() + treeStates.slice(1).toLowerCase() %></option>
                    <% }); %>
                </select>
            </div>
        </div>
        <div class="item-post">
            <p class="key-post">Cantidad de árboles</p>
            <div class="value-post">
                <p><%= formattedTreeRegistration.tree_number %></p>
                <input placeholder="<%= formattedTreeRegistration.tree_number %>" id="numberTrees" type="number" style="display: none;">
            </div>
        </div>
        <div class="item-post item-post-to-down">
            <p class="key-post">Evidencia</p>
            <div class="value-post value-post-to-down tree-evidence-container">
                <p class="tree-evidence-p">
                    <img class="tree-evidence" src="/evidence/<%= formattedTreeRegistration.idTreeRegist %>.webp" alt="No tiene evidencia">
                </p>
                <input type="file" accept="image/*" id="fileInput" name="evidence" style="display: none;">
            </div>
        </div>          
        <hr>
        <button id="edit" class="button-green-default button-60">Editar</button>
        <div class="buttons-edit" style="display: none;">
            <button type="submit" class="button-40">Guardar</button>
            <button id="cancel-edit" class=" button-green-default button-60">Cancelar</button>
        </div>
    </form>
    <hr>
    <% if (formattedTreeRegistration.tree_state === 'fruta madura' || formattedTreeRegistration.tree_state === 'fruta verde') { %>
        <div class="buttons-options" data-target="#addModal">
            <a class="button-green-default option-button">VER PROSPECTO</a>
        </div>
    <% } %>
</main>
<div class="modal-backdrop" style="display: none;" id="modalBackdrop"></div>
<div class="add-modal" style="display: none;" id="addModal" role="form" aria-labelledby="addModalLabel">
    <div class="modal-items">
        <div class="close-modal" data-dismiss="modal"></div>
        <h1>Prospecto</h1>
        <form id="addPost">
            <div class="item-post">
                <p class="key-post">ID</p>
                <div class="value-post">
                    <% if (prospectusId) { %>
                    <%= prospectusId %> 
                    <% } else { %>
                    <p> No está creado el Prospecto</p>
                    <% } %>
                </div>
            </div>
            <div class="input-number">
                <label for="units_per_sample">Número de muestras</label>
                <input required value="<%= number_of_samples %>" type="number" id="number_of_samples" min="1">
            </div>
            <div class="input-number">
                <label for="units_per_sample">Unidades por muestra</label>
                <input required value="<%= units_per_sample %>" type="number" id="units_per_sample" min="1">
            </div>
            <hr>
            <div class="buttons-options">
                <button type="submit" class="button-green-default option-button">ACEPTAR</button>
            </div>
        </form>
    </div>
</div>

<div id="message" class="alert" role="alert"></div>
<script src="/js/treeRegistration.js" type="module"></script>