<main>
    <section class="breadcrumbs">
        <a href="/home">Inicio</a>
        <% if (permissionLevel >= 3) { %>
            <a href="/campaigns/">Listar campañas</a>
        <% } else if (permissionLevel >= 2) { %>
            <a href="/campaigns/<%= breadcrumbs.CampaignId %>">Ver campaña</a>
            <a href="/campaigns/<%= breadcrumbs.CampaignId %>/focuses">Listar focos</a>
            <a href="/campaigns/<%= breadcrumbs.CampaignId %>/focuses/<%= breadcrumbs.FocusId %>">Ver foco</a>
            <a href="/campaigns/<%= breadcrumbs.CampaignId %>/focuses/<%= breadcrumbs.FocusId %>/blocks">Listar manzanas</a>
        <% } %>
        <a href="/campaigns/<%= breadcrumbs.CampaignId %>/focuses/<%= breadcrumbs.FocusId %>/blocks/<%= breadcrumbs.BlockRegistrationId %>">Ver manzana</a>
        <a href="/campaigns/<%= breadcrumbs.CampaignId %>/focuses/<%= breadcrumbs.FocusId %>/blocks/<%= breadcrumbs.BlockRegistrationId %>/houses">Listar casas</a>
        <p>Ver casa</p>
    </section>
    <hr>
    <h1>Información de la casa</h1>
    <form id="editPost" class="info-post">
        <div class="item-post">
            <p class="key-post">ID</p>
            <div class="value-post">
                <p><%= formattedHouseRegistrationns.id %></p>
            </div>
        </div>
        <!-- SE EDITA  -->
        <div class="item-post"> 
            <p class="key-post">Dirección</p>
            <div class="value-post">
                <p><%= formattedHouseRegistrationns.address %></p>
                <input placeholder="<%= formattedHouseRegistrationns.address %>" id="address" type="text" style="display: none;">
            </div>
        </div>
        <!-- SE EDITA  -->
        <div class="item-post">
            <p class="key-post">Grilla</p>
            <div class="value-post">
                <p><%= formattedHouseRegistrationns.grid %></p>
                <input placeholder="<%= formattedHouseRegistrationns.grid %>" id="grid" type="number" style="display: none;">
            </div>
        </div>
        <!-- SE EDITA  -->
        <div class="item-post">
            <p class="key-post">Área</p>
            <div class="value-post">
                <p><%= formattedHouseRegistrationns.area %></p>
                <select class="" id="area" style="display: none;">
                    <option value="" disabled selected><%= formattedHouseRegistrationns.area %></option>
                    <% Object.values(areas).forEach(area => { %>
                        <option value="<%= area %>"><%= area %></option>
                    <% }); %>
                </select>
            </div>
        </div>
        <!-- SE EDITA  -->
        <div class="item-post">
            <p class="key-post">Estado</p>
            <div class="value-post">
                <p><%= formattedHouseRegistrationns.state.charAt(0).toUpperCase() + formattedHouseRegistrationns.state.slice(1).toLowerCase() %></p>
                <select class="" id="state" style="display: none;">
                    <option value="" disabled selected><%= formattedHouseRegistrationns.state.charAt(0).toUpperCase() + formattedHouseRegistrationns.state.slice(1).toLowerCase() %></option>
                    <% Object.values(states).forEach(state => { %>
                        <option value="<%= state %>"><%= state.charAt(0).toUpperCase() + state.slice(1).toLowerCase() %></option>
                    <% }); %>
                </select>
            </div>
        </div>
        <div class="item-post">
            <p class="key-post">Fecha de creación</p>
            <div class="value-post">
                <p><%= formattedHouseRegistrationns.createdAt %></p>
            </div>
        </div>
        <div class="item-post">
            <p class="key-post">Fecha de modificación</p>
            <div class="value-post">
                <p><%= formattedHouseRegistrationns.updatedAt %></p>
            </div>
        </div>
        <div class="item-post item-post-to-down">
            <p class="key-post">Comentario</p>
            <div class="value-post value-post-to-down">
                <p><%= formattedHouseRegistrationns.comment %></p>
                <textarea name="" id="comment" style="display: none;" placeholder="<%= formattedHouseRegistrationns.comment %>"></textarea>
            </div>
        </div>
        <!--FALTARIA AGREGAR MAPAS TANTO EN EL CONTROLADOR COMO EN EL FRONT-->
        <hr>
        <button id="edit" class="button-green-default button-60">Editar</button>
        <div class="buttons-edit" style="display: none;">
            <button type="submit" class="button-40">Guardar</button>
            <button id="cancel-edit" class=" button-green-default button-60">Cancelar</button>
        </div>
    </form>
    <hr>
    <% if (formattedHouseRegistrationns.isOpen) { %>
        <div class="buttons-options">
            <a href="<%= formattedHouseRegistrationns.id %>/trees" class="button-green-default option-button">VER ÁRBOLES</a>
        </div>
    <% } %>
</main>
<div id="message" class="alert" role="alert"></div>
<script src="/js/houseRegistration.js" type="module"></script>