<main>
    <section class="breadcrumbs">
        <a href="#">Inicio</a>
        <a href="/campaigns/">Listar campañas</a>
        <a href="#">Ver campaña</a> <!--Puede ser FormattedCampaign.id-->
        <a href="/focuses/">Listar focos</a>
        <a href="#">Ver foco</a>
        <a href="/blocks/">Listar manzanas</a>
        <p>Ver manzana</p>
    </section>
    <hr>
    <h1>Información de la manzana</h1>
    <form id="edit-post" class="info-post">
        <div class="item-post">
            <p class="key-post">ID</p>
            <div class="value-post">
                <p><%= formattedBlock.id %></p>
                <input placeholder="<%= formattedBlock.id %>" type="text" style="display: none;">
            </div>
        </div>
        <% let streetArray = formattedBlock.streets.split("@") %>
        <% for (i = 0; i < streetArray.length; i++){ %>
        <% let street = streetArray[i] %>
        <div class="item-post">
            <p class="key-post">calle límite <%= i+1 %>:</p>
            <div class="value-post">
                <p><%= street %></p>
                <input placeholder="<%= street %>" type="text" style="display: none;">
            </div>
        </div>
        <% } %>
        <div class="item-post">
            <p class="key-post">Fecha de creación</p>
            <div class="value-post">
                <p><%= formattedBlock.createdAt %></p>
            </div>
        </div>
        <div class="item-post">
            <p class="key-post">Fecha de modificación</p>
            <div class="value-post">
                <p><%= formattedBlock.updatedAt %></p>
            </div>
        </div>
        <hr>
        <div class="buttons-options">
            <button type="submit" class="button-green-default option-button">GENERAR INFORME</button>
            <a href="<%= formattedBlock.id %>/houses" class="button-green-default option-button">VER FOCOS</a>
        </div>
    </main>