<main>
    <section class="breadcrumbs">
        <a href="/home">Inicio</a>
        <% if (permissionLevel >= 3) { %>
            <a href="/campaigns/">Listar campañas</a>
        <% } else if (permissionLevel >= 2) { %>
            <a href="/campaigns/<%= breadcrumbs.CampaignId %>">Ver campaña</a>
            <a href="/campaigns/<%= breadcrumbs.CampaignId %>/focuses">Listar focos</a>
            <a href="/campaigns/<%= breadcrumbs.CampaignId %>/focuses/<%= breadcrumbs.FocusId %>">Ver foco</a>
            <a href="/campaigns/<%= breadcrumbs.CampaignId %>/focuses/<%= breadcrumbs.FocusId %>/blocks">Listar manzanas</a>
        <% } %>
        <p>Ver manzana</p>
    </section>
    <hr>
    <h1>Información de la manzana</h1>
    <form id="editPost" class="info-post">
        <div class="item-post">
            <p class="key-post">ID</p>
            <div class="value-post">
                <p><%= formattedBlock.id %></p>
            </div>
        </div>

        <% let streetArray = formattedBlock.streets.split("@") %>
        <div class="item-post">
            <p class="key-post">Calle límite 1:</p>
            <div class="value-post">
                <p><%= streetArray[0] %></p>
                <input placeholder="<%= streetArray[0] %>"  class="full street-input" type="text" style="display: none;">
            </div>
        </div>
        <% for (i = 1; i < streetArray.length; i++){ %>
        <% let street = streetArray[i] %>
        <div class="item-post street-can-be-remove">
            <p class="key-post">Calle límite <%= i+1 %>:</p>
            <div class="value-post">
                <p><%= street %></p>
                <input placeholder="<%= street %>"  class="half street-input" type="text" style="display: none;">
                <div class="remove-street-edit" style="display: none;"></div>
            </div>
        </div>
        <% } %>
        <div id="add-street-container" class="value-post">
            <div id="add-street" class="" style="display: none;"></div>
        </div>

        <div class="item-post">
            <p class="key-post">Fecha de modificación</p>
            <div class="value-post">
                <p><%= formattedBlock.createdAt %></p>
            </div>
        </div>
        <% if (permissionLevel >= 2) { %>
            <hr>
            <button id="edit" class="button-green-default button-60">Editar</button>
        <% } %>
        <div class="buttons-edit" style="display: none;">
            <button type="submit" class="button-40">Guardar</button>
            <button id="cancel-edit" class=" button-green-default button-60">Cancelar</button>
        </div>
    </form>
        <hr>
        <div class="buttons-options">
            <button type="submit" class="button-green-default option-button">GENERAR INFORME</button>
            <a href="<%= formattedBlock.id %>/houses" class="button-green-default option-button">VER CASAS</a>
        </div>
</main>
<div id="message" class="alert" role="alert"></div>
<script src="/js/block.js" type="module"></script>