<main>
    <section class="breadcrumbs">
        <a href="#">Inicio</a>
        <a href="/campaigns/">Listar campañas</a>
        <p>Ver campaña</p>
    </section>
    <hr>
    <h1>Información de la campaña</h1>
    <form id="editPost" class="info-post">
        <div class="item-post">
            <p class="key-post">ID</p>
            <div class="value-post">
                <p><%= formattedCampaign.id %></p>
            </div>
        </div>
        <div class="item-post">
            <p class="key-post">Nombre campaña</p>
            <div class="value-post">
                <p><%= formattedCampaign.name %></p>
                <input placeholder="<%= formattedCampaign.name %>" id="name" type="text" style="display: none;">
            </div>
        </div>
        <div class="item-post">
            <p class="key-post">Jefe de campaña</p>
            <div class="value-post">
                <p><%= formattedCampaign.manager %></p>
                <select id="manager" style="display: none;">
                    <option value="<%= formattedCampaign.managerId %>"><%= formattedCampaign.manager %></option>
                </select>
            </div>
        </div>
        <div class="item-post">
            <p class="key-post">Estado</p>
            <div class="value-post">
                <p><%= formattedCampaign.open ? 'Abierta' : 'Cerrada' %></p>
                <input type="checkbox" <%= formattedCampaign.open ? 'checked' : '' %> name="" id="open" style="display: none;">
            </div>
        </div>
        <div class="item-post">
            <p class="key-post">Fecha de creación</p>
            <div class="value-post">
                <p><%= formattedCampaign.createdAt %></p>
            </div>
        </div>
        <div class="item-post">
            <p class="key-post">Fecha de modificación</p>
            <div class="value-post">
                <p><%= formattedCampaign.updatedAt %></p>
            </div>
        </div>
        <div class="item-post">
            <p class="key-post">Region</p>
            <div class="value-post">
                <p><%= formattedCampaign.region %></p>
                <select class="region-select" id="region" style="display: none;">
                    <option value=""><%= formattedCampaign.region %></option>
                </select>
            </div>
        </div>
        <div class="item-post">
            <p class="key-post">Comuna</p>
            <div class="value-post">
                <p><%= formattedCampaign.commune %></p>
                <select class="commune-select" id="commune" style="display: none;">
                    <option value=""><%= formattedCampaign.commune %></option>
                </select>
            </div>
        </div>
        <div class="item-post">
            <p class="key-post">Mapa de la zona</p>
            <div class="value-post">
                <p><a href=""><%= formattedCampaign.mapId ? 'Mapa de'+formattedCampaign.commune : 'No hay mapa asignado' %></a></p>
                <label class="green-url-default" id="file-label" style="display: none;">
                    Añadir mapa de la zona
                    <input type="file" id="file-upload">
                </label>
            </div>
        </div>
        <hr>
        <button id="edit" class="button-green-default button-60">Editar</button>
        <div class="buttons-edit" style="display: none;">
            <button type="submit" class="button-40">Guardar</button>
            <button id="cancel-edit" class="button-green-default button-60">Cancelar</button>
        </div>
    </form>
    <hr>
    <div class="buttons-options">
        <button type="submit" class="button-green-default option-button">GENERAR INFORME</button>
        <a href="<%= formattedCampaign.id %>/focuses" class="button-green-default option-button">VER FOCOS</a>
    </div>
    <hr>
    <h2>Usuarios</h2>
    <form id="search-post">
        <input id="nameRutRemove" type="text" class="full" placeholder="Nombre o RUN del usuario">
        <select id="rolRemove" class="half">
            <option value="">Rol</option>
        </select>
        <button type="submit" class="button-green-crud">Buscar</button>
    </form>
    <hr>

    <section class="cards">
        <% for (let i = 0; i < formattedUsers.length; i++) { %>
        <a>
            <div class="card-left-side">
                <p class="card-left-side-top"><%= formattedUsers[i].name %></p>
                <p class="card-left-side-bottom"><%= formattedUsers[i].role %> | <%= formattedUsers[i].rut %></p>
            </div>
            <div user-id="<%= formattedUsers[i].RegistrationId %>" class="card-right-side removeBtn">
                <div class="remove-user" data-dismiss="modal"></div>
            </div>
        </a>
        <% } %>
    </section>
    <button type="button" class="add-button" data-toggle="modal" data-target="#addModal" aria-label="addButton"></button>
</main>

<div class="modal-backdrop" style="display: none;" id="modalBackdrop"></div>
<div class="add-modal add-users-modal" style="display: none;" id="addModal" role="form" aria-labelledby="addModalLabel">
    <div class="modal-items modal-items-add-users">
        <div class="close-modal" data-dismiss="modal"></div>
        <h1 class="addUsersTitle">Añadir usuarios</h1>
        <form id="addPost" class="add-users-form">
            <section class="cards add-users-cards">
                <a>
                    <div class="card-left-side">
                        <p class="card-left-side-top">Juan</p>
                        <p class="card-left-side-bottom">Rol | RUT</p>
                    </div>
                    <div non-campaign-user-id="1" class="card-right-side check-button">
                        <input type="checkbox" class="add-user-checkbox">
                    </div>
                </a>
                <a>
                    <div class="card-left-side">
                        <p class="card-left-side-top">Carlos</p>
                        <p class="card-left-side-bottom">Rol | RUT</p>
                    </div>
                    <div non-campaign-user-id="2" class="card-right-side check-button">
                        <input type="checkbox" class="add-user-checkbox">
                    </div>
                </a>
                <a>
                    <div class="card-left-side">
                        <p class="card-left-side-top">Ana</p>
                        <p class="card-left-side-bottom">Rol | RUT</p>
                    </div>
                    <div non-campaign-user-id="3" class="card-right-side check-button">
                        <input type="checkbox" class="add-user-checkbox">
                    </div>
                </a>
                <a>
                    <div class="card-left-side">
                        <p class="card-left-side-top">Pedro</p>
                        <p class="card-left-side-bottom">Rol | RUT</p>
                    </div>
                    <div non-campaign-user-id="4" class="card-right-side check-button">
                        <input type="checkbox" class="add-user-checkbox">
                    </div>
                </a>
                <a>
                    <div class="card-left-side">
                        <p class="card-left-side-top">Pepe</p>
                        <p class="card-left-side-bottom">Rol | RUT</p>
                    </div>
                    <div non-campaign-user-id="5" class="card-right-side check-button">
                        <input type="checkbox" class="add-user-checkbox">
                    </div>
                </a>
                <a>
                    <div class="card-left-side">
                        <p class="card-left-side-top">Miguel</p>
                        <p class="card-left-side-bottom">Rol | RUT</p>
                    </div>
                    <div non-campaign-user-id="6" class="card-right-side check-button">
                        <input type="checkbox" class="add-user-checkbox">
                    </div>
                </a>
                <a>
                    <div class="card-left-side">
                        <p class="card-left-side-top">Jhon</p>
                        <p class="card-left-side-bottom">Rol | RUT</p>
                    </div>
                    <div non-campaign-user-id="7" class="card-right-side check-button">
                        <input type="checkbox" class="add-user-checkbox">
                    </div>
                </a>
                <a>
                    <div class="card-left-side">
                        <p class="card-left-side-top">Marco</p>
                        <p class="card-left-side-bottom">Rol | RUT</p>
                    </div>
                    <div non-campaign-user-id="8" class="card-right-side check-button">
                        <input type="checkbox" class="add-user-checkbox">
                    </div>
                </a>
                <a>
                    <div class="card-left-side">
                        <p class="card-left-side-top">Benja</p>
                        <p class="card-left-side-bottom">Rol | RUT</p>
                    </div>
                    <div non-campaign-user-id="9" class="card-right-side check-button">
                        <input type="checkbox" class="add-user-checkbox">
                    </div>
                </a>
            </section>
            <div class="bottom-crud bottom-crud-add-users">
                <button type="reset" class="button-40">Cancelar</button>
                <button type="submit" class="button-green-default button-60">Añadir usuario/s</button>
            </div>
        </form>
    </div>
</div>

<div class="modal-backdrop" style="display: none;" id="modalBackdropRemove"></div>
<div class="add-modal" style="display: none;" id="removeModal" role="form" aria-labelledby="removeModalLabel">
    <div class="modal-items">
        <div class="close-modal" data-dismiss="modalRemoveUser"></div>
        <p id="modal-message" class="modal-message"></p>
        <div class="bottom-crud">
            <button class="button-40" id="confirmRemoveUser">Confirmar</button>
            <button class="button-green-default button-60" id="cancelRemoveUser">Cancelar</button>
        </div>
    </div>
</div>

<div id="message" class="alert" role="alert"></div>

<script src="/js/locations.js"></script>
<script src="/js/campaign.js" type="module"></script>
